:root{

    --main_color: #2271A9;
    --btn_color_blue: #1DC4E9;
    --btn_color_pink: #EB6773;
    --gray: #818181;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}
html{
    width: 100%;
    height: 200%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(290deg, rgb(34, 113, 169, 1), rgb(31, 16, 197, 0.5));
    background-repeat: no-repeat;

}

#LOGO{
    margin-left: 20px;
}

.bg-primary{
    background-color: var(--main_color) !important;
}

.menubar{
    position: sticky;
    top: 0;
}

nav{
    border: 2px solid var(--main_color);
    box-shadow: 1px 2.5px  5px black;

}

li{
    margin: 0 8px;
    
}


#your-profile{
    margin-right: 10px;
}

.home-intro{
    height: 1080px;
    background: url("/img/img_home_bg.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.black-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.black-bg h1{
    color: white;
    font-size: 50px;
}



.btn-primary.btn-find-tutor{
    color: #fff;
    background-color: var(--main_color);
    border-color: var(--main_color); 
    margin-top: 50px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #00b3db;
}

.btn-primary.btn-become-a-teacher{
    background-color: var(--btn_color_pink);
    border-color: var(--btn_color_pink); 
    margin-top: 20px;
}

.btn-primary.btn-become-a-teacher:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #00b3db;
}

.find-tutor-title{
    color: white;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

.find-tutor-title p{
    font-size: 20px;
}


.split-line{
    width: 100%;
    height: 2px;
    background-color: white;
}