:root{

    --main_color: #2271A9;
    --gray: #818181;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(290deg, rgb(34, 113, 169, 1), rgb(31, 16, 197, 0.5));
    background-repeat: no-repeat;
    position: relative;
  
}

#login-form{
    width: 500px;
    height: 800px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 0;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 3px;
}

.form-header h1{
    height: 35px;
    margin-top: 120px;
    padding-left: 48px;
    font-size: 40px;
}

#header-line{
    width: 500px;
content: url(/img/ic_form_header_line.svg);
}

#label-email{
    height: 35px;
    margin-top: 50px;
    margin-left: 135px;
    font-size: 25px;
}

#label-password{
    height: 35px;
    margin-top: 10px;
    margin-left: 135px;
    font-size: 25px;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group img{
   height: 40px;
   width: 40px;
   margin-right: 10px;
}

.form-group input{
    width: 280px;
    height: 50px;
}

.btn-primary{
    
    background-color: var(--main_color);
}   

#btn-login{
    width: 150px;
    height: 45px;
    margin-top: 30px;
}

#btn-google{
    margin-top: 40px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-image: url("/img/ic_google.svg");
    background-color: transparent;
    background-size: cover;
    border: 0;
}

#btn-google:hover{
    width: 45px;
    height: 45px;
}

#btn-facebook{
    margin-top: 40px;
    width: 40px;
    height: 40px;
    background-image: url("/img/ic_facebook.svg");
    background-color: transparent;
    background-size: cover;
    border: 0;
}

#btn-facebook:hover{
    width: 45px;
    height: 45px;
}


#btn-forget-password{

    margin-top: 20px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0px;
    color: var(--gray);
}

#btn-create-account{
    margin-top: 5px;
    background-color: transparent;
    border: 0px;
    color: var(--gray);
}